<div class="ngx-treeview-demo">
    <h1>Ngx TreeView</h1>
    <div class="box">
        <h3>Simple Material TreeView</h3>
        <ngx-treeview [data]="simpleTreeData"></ngx-treeview>
    </div>
    <div class="box">
        <h3>Material TreeView with different Expand/Collapse Material Icon</h3>
        <ngx-treeview [data]="simpleTreeData" [options]="expandCollapseOptions"></ngx-treeview>
    </div>
    <div class="box" fxLayout="column">
        <h3>Material TreeView with Expand/Collapse Icon As Suffix</h3>
        <div fxLayout="row">
            <ngx-treeview fxFlex="15" [data]="simpleTreeData" [options]="iconPositionOptions"></ngx-treeview>
        </div>
    </div>
    <div class="box">
        <h3>Material TreeView without Expand/Collapse Icon</h3>
        <ngx-treeview [data]="simpleTreeData" [options]="showExpandCollapseIconOptions"></ngx-treeview>
    </div>
    <div class="box">
        <h3>Material TreeView with Node Icons</h3>
        <ngx-treeview [data]="nodeIconTreeData" [options]="expandCollapseOptions"></ngx-treeview>
    </div>
    <div class="box">
        <h3>Material TreeView with Node Icons As Suffix</h3>
        <ngx-treeview [data]="nodeIconTreeData" [options]="nodeIconOptions"></ngx-treeview>
    </div>
    <div class="box">
        <h3>Material TreeView with Checkbox</h3>
        <ngx-treeview [data]="simpleTreeData" [options]="checkboxOptions"></ngx-treeview>
    </div>
    <div class="box">
        <h3>Material TreeView with Child Count</h3>
        <ngx-treeview [data]="simpleTreeData" [options]="countOptions"></ngx-treeview>
    </div>
</div>